[Unit]
Description=Luxembot

[Service]
WorkingDirectory=/var/www/bots/luxembot
ExecStart=/bin/node /var/www/bots/luxembot/bot.js
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=luxembot
User=alex
#Group=<alternate group>
Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
